{% extends "base.html" %} {% block content %} {% load static %}

<div>
  <nav class="feed_nav">
    <div class="left_nav">
      <div class="burger">
        <img src="{% static 'app/img/burger-menu.svg' %}" alt="" />
      </div>
      <div class="feed_profile">
        <a href="{% url 'users-profile' %}">
          <img
            class="blog_img-thumbnail"
            src="{{ user.profilemodel.image.url }}"
            alt=""
          />
        </a>
      </div>
    </div>
    <div class="feed_logout">
      <button>
        <a href="{%url 'users-logout'%}">Logout</a>
      </button>
    </div>
  </nav>

  <div class="feed">
    <div class="left_side">
      <h1>Trending</h1>
      <ul class="links">
        <li>Movies</li>
        <li>Education</li>
        <li>Tradition</li>
        <li>Sports</li>
        <li>Relationship</li>
        <li>Marriages</li>
        <li>Writers</li>
        <li>Enterpreneur</li>
        <li>Fashion</li>
        <li>Politics</li>
        <li>Artist</li>
        <li>Gossip</li>
        <li>Religion</li>
      </ul>
    </div>

    <div class="main_feed">
      {% for post in posts %}
      <div class="main_feed_card">
        <div class="card_head">
          <img src="{{ post.author.profilemodel.image.url }}" alt="" />
          <h1>{{ post.author.username }}</h1>
        </div>
        <a href="{% url 'app:post-detail' pk=post.id %}">
          <div class="card_content">
            <h3>{{ post.title }}</h3>

            <p>{{ post.content }}</p>
            <small>{{post.date_created}}</small>
          </div>
        </a>
        <div class="card_stats">
          <div class="comment">
            <img src="{% static 'app/img/comment.svg' %}" alt="" />
            <h4>{{ post.comment_count }}</h4>
          </div>

          <div class="repost">
            <img src="{% static 'app/img/repost.svg' %}" alt="" />
            <h4>0</h4>
          </div>

          <div class="like">
            <img src="{% static 'app/img/like.svg' %}" alt="" />
            <h4>0</h4>
          </div>

          <div class="share">
            <img src="{% static 'app/img/share.svg' %}" alt="" />
            <!-- <h4>11</h4> -->
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="search">
      <input type="search" placeholder="search..." />
    </div>
  </div>
  <div class="right_side bg-black">
    <div class="addpost">
      <span class="close" id="closeModalBtn">&times;</span>
      <form method="POST">
        {% csrf_token %} {{form}}
        <input class="btn-primary" type="submit" value="Post" />
      </form>
    </div>
  </div>
  <div class="add_post_button">
    <p>+</p>
  </div>
  <div id="overlay" class="overlay"></div>
</div>
<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector(".left_side");
  burger.addEventListener("click", () =>
    nav.classList.toggle("left_side_active")
  );

  // Function to open the modal
  function openModal() {
    var modal = document.querySelector(".right_side");
    var overlay = document.querySelector(".overlay");
    modal.style.display = "block";
    overlay.style.display = "block";

    overlay.addEventListener("click", function () {
      closeModal();
    });
  }

  // Function to close the modal
  function closeModal() {
    var modal = document.querySelector(".right_side");
    var overlay = document.querySelector(".overlay");
    modal.style.display = "none";
    overlay.style.display = "none";

    overlay.removeEventListener("click", function () {
      closeModal();
    });
  }

  // Add a click event listener to the button with class "add_post_button"
  document
    .querySelector(".add_post_button")
    .addEventListener("click", function () {
      openModal();
    });

  // Add a click event listener to the close button with class "close" inside the modal
  document.querySelector(".close").addEventListener("click", function () {
    closeModal();
  });
</script>
{% endblock content %}
