{% extends "base.html" %} {% block content %} {% load static %}

<div>
  <nav class="feed_nav">
    <div class="feed_profile">
      <a href="{% url 'users-profile' %}">
        <img src="{% static 'app/img/user_pic.svg' %}" alt="" />
      </a>
    </div>
    <div class="feed_logout">
      <button>
        <a href="{%url 'users-logout'%}">Logout</a>
      </button>
    </div>
  </nav>

  <div class="feed">
    <div class="left_side">
      <h1>Trending</h1>
      <ul class="links">
        <li>Movies</li>
        <li>Education</li>
        <li>Tradition</li>
        <li>Sports</li>
        <li>Relationship</li>
        <li>Marriages</li>
        <li>Writers</li>
        <li>Enterpreneur</li>
        <li>Fashion</li>
        <li>Politics</li>
        <li>Artist</li>
        <li>Gossip</li>
        <li>Religion</li>
      </ul>
    </div>

    <div class="main_feed main_feed_details">
      <div class="post_details_card">
        <div class="post_details_profile">
          <img
            class="img-thumbnail"
            src="{{ post.author.profilemodel.image.url }}"
            alt="profile-img"
          />
          <a href="{% url 'app:author-profile' username=post.author.username %}">
            {{ post.author.username }}
          </a>
        </div>
        <small>{{ post.date_created }}</small>
        <hr />
        <h4>{{ post.title }}</h4>
        <p>{{ post.content }}</p>

        <div class="card_stats">
          <div class="comment" id="comment">
            <img src="{% static 'app/img/comment.svg' %}" alt="" />
            <h4>{{ post.comment_count }}</h4>
          </div>

          <div class="repost">
            <img src="{% static 'app/img/repost.svg' %}" alt="" />
            <h4>0</h4>
          </div>

          <div class="like">
            <form method="POST" class="like_form">
              {% csrf_token %} {% if liked %}
              <button type="submit" name="unlike" class="btn-transparent">
                <img src="{% static 'app/img/like.svg' %}" alt="" />
              </button>
              {% else %}
              <button type="submit" name="like" class="btn-transparent">
                <img src="{% static 'app/img/like.svg' %}" alt="" />
              </button>
              {% endif %}
              <h4 class="ml-2">{{ likes.count }}</h4>
            </form>
          </div>
        </div>

        <div class="comment_box">
          <div class="comment_section">
            <h2>Comments</h1>
            <div
              style="height: 250px; overflow-y: scroll"
              class="card comment_container"
            >
              {% for comment in post.comments %}
              <a
                href="{% url 'app:author-profile' username=comment.user.username %}"
              >
              <div class="comment_card">
                
                <div class="comment_profile">
                  <img
                    src="{{comment.user.profilemodel.image.url}}"
                    class="img-thumbnail"
                    alt="user image"
                  />
                  
                    {{ comment.user.username }}
                </div>
              </a>
                <div class="comment_content">{{ comment.content }}</div>
              </div>
              {% endfor %}
            </div>
          </div>
          <form method="POST" class="comment_form">
            {% csrf_token %} {{ c_form }}
            <input class="btn btn-primary btn-sm" type="submit" value="Comment" />
          </form>

        </div>

        <div class="btn_container">
          {% if post.author == request.user %}
          <span
            ><a
              class="btn-primary"
              href="{% url 'app:post-delete' pk=post.id %}"
              >Delete</a
            ></span
          >
          <span
            ><a class="btn-primary" href="{% url 'app:post-edit' pk=post.id %}"
              >Edit</a
            ></span
          >
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const comment = document.getElementById('comment');
  const commentSection = document.querySelector('.comment_box')
  comment.addEventListener('click', () => commentSection.classList.toggle('open_comment'))
  
</script>
{% endblock content %}
