{% load static %}
<nav class="nav">
  <h1>YFN</h1>
  <div class="nav_list">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Categories</li>
      <li>Trending</li>
      <li>Contact Us</li>
    </ul>
    {% if request.user.is_authenticated %}
    <button>
      <a href="{% url 'blog' %}">Go to App</a>
    </button>
    {% else %}
    <button>
      <a href="{% url 'users-sign-up' %}">Sign Up</a>
    </button>
    {% endif %}
  </div>
  <div class="burger">
    <img src="{% static 'app/img/burger-menu.svg' %}" alt="" />
  </div>
</nav>

<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector(".nav_list");
  burger.addEventListener("click", () => nav.classList.toggle("active"));
</script>
