{% extends "base.html" %} {% block content %} {% load static %}

<div>
  <nav class="feed_nav">
    <div class="feed_profile">
      <a href="{% url 'users-profile' %}">
        <img src="{% static 'app/img/user_pic.svg' %}" alt="" />
      </a>
    </div>
    <div class="feed_logout">
      <button>
        <a href="{%url 'users-logout'%}">Logout</a>
      </button>
    </div>
  </nav>

  <div class="feed profile">
    <div class="left_side">
      <div>
        <img src="{% static 'app/img/user_pic.svg' %}" alt="" />
        <p class="profile_name">{{ user.username }}</p>
        <p class="profile_category">{{user.profilemodel.category}}</p>
        <button type="button" class="btn-primary">Edit Profile</button>
      </div>

      <div>
        <h4>Edit Profile Information</h4>
        <img
          class="img-thumbnail"
          src="{{ user.profilemodel.image.url }}"
          alt=""
        />

        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %} {{ u_form }} {{ p_form }}
          <button type="submit" class="btn-primary">Save</button>
        </form>
      </div>
    </div>

    <div class="right_side">
      <div class="about">
        <h2>About</h2>
        <p>
          Hello there! I'm a passionate explorer of the digital realm, always on
          the lookout for new adventures in the world of technology and
          creativity. By day, I'm a code-wrangling wizard, crafting elegant
          solutions to complex problems. But when the sun sets, you'll often
          find me lost in the pages of a good book or exploring the great
          outdoors.
        </p>
        <p>
          I have a deep love for art, music, and all things nerdy. Whether it's
          tinkering with gadgets, strumming my guitar, or embarking on epic
          gaming quests, I'm all about embracing my inner geek. I'm a firm
          believer in the power of knowledge and lifelong learning, so I'm
          constantly seeking new skills to add to my ever-expanding toolkit.
        </p>
        <p>
          When I'm not in front of a screen, I enjoy traveling to far-off lands,
          savoring exotic cuisines, and meeting fascinating people from all
          walks of life. Life's too short to stay in one place, right? Above
          all, I value kindness, empathy, and making meaningful connections.
        </p>
        <p>
          So, let's connect and share our stories – because life's journey is so
          much richer when we travel it together!" Feel free to use or modify
          this text as needed for your own "About Me" section.
        </p>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
