{% extends "base.html" %} {% block content %} {% load static %}

<div>
  <div class="back">
    <a href="{% url 'app:author-profile' username=user.username %}">
      <h5>back</h5>
    </a>
  </div>
  <div class="edit_profile">
    <h4>Edit Profile Information</h4>
    <img class="img-thumbnail" src="{{ user.profilemodel.image.url }}" alt="" />

    <form method="POST" enctype="multipart/form-data" class="profile_edit_form">
      {% csrf_token %} {{ u_form }} {{ p_form }}
      <button type="submit" class="btn-primary">Save</button>
    </form>
  </div>
</div>
{% endblock content %}
