* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 0 4rem;
}

.nav_list {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav ul {
  display: flex;
}

.nav ul li {
  list-style: none;
  margin: 0 1rem;
  cursor: pointer;
}

.nav_list button {
  background: transparent;
  padding: 0.5rem 1.5rem;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 300ms;
}

.nav_list button:hover {
  background: #000;
  color: #fff;
}

.hero {
  width: 95%;
  margin: 0 auto;
}

.hero_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.hero_img img {
  width: 100%;
}

.hero_text {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.hero_text h1 {
  color: #fff;
  font-size: 4rem;
  text-align: center;
}

.hero_text button {
  background-color: #fff;
  border: 0;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 300ms;
}

.hero_text button:hover {
  transform: scale(1.1);
}

.about_us {
  margin-top: 8vh;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.about_us .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about_us_img {
  width: 300%;
}

.about_us_img img {
  width: 100%;
}

.about_us_text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about_us_text h1 {
  font: bold;
  text-align: center;
  font-size: 2.5rem;
}

.about_us_text p {
  line-height: 1.5;
  font-size: 1rem;
}

.category {
  margin-top: 8vh;
}

.category .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.category h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2rem;
}

.category .card .card_img {
  width: 100%;
  position: relative;
}

.category .card img {
  width: 100%;
  position: relative;
}

.category .card .card_text {
  position: absolute;
  bottom: 0;
  padding: 1rem 0.5rem;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.3); /* 70% opacity */
}

.trending {
  background: #fff;
  box-shadow: 0px 12px 60px 0px rgba(0, 0, 0, 0.25);
  margin-top: 8vh;
  padding: 3rem 0;
}

.trending h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2rem;
}

.trending .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  gap: 3rem;
}

.trending .trending_card .trending_card_img {
  width: 100%;
  position: relative;
}

.trending .trending_card img {
  width: 100%;
  position: relative;
}

.trending .trending_card .card_text {
  position: absolute;
  bottom: 0;
  padding: 1rem 0.5rem;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.trending .trending_card .card_text button {
  margin-top: 1rem;
  align-self: flex-end;
  border: 0;
  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 300ms linear;
}

.trending .trending_card .card_text button:hover {
  background-color: transparent;
  color: #000;
}

.contact {
  margin-top: 10vh;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 2px 10px 28px 0px rgba(75, 0, 129, 0.12);
  padding-bottom: 3rem;
}

.contact h1 {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 2rem;
}

.contact .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 3rem;
}

.contact .form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

.contact .form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.contact .form form input,
textarea {
  outline: 0;
  padding: 0.5rem;
  border: 1px solid #e6e6e6;
}

.contact .form button {
  background-color: #000;
  color: #fff;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.contact .info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact .info h2 {
  font-size: 1rem;
  font-weight: 400;
}

.contact .info .info_text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact .info .map {
  width: 100%;
}

.contact .info .map img {
  width: 100%;
}

footer {
  margin-top: 10vh;
  background: #fff;
  box-shadow: 0px 12px 60px 0px rgba(0, 0, 0, 0.25);
}

footer .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 0 4rem;
}

footer .nav_list {
  display: flex;
  gap: 3rem;
  align-items: center;
}

footer .nav ul {
  display: flex;
}

footer .nav ul li {
  list-style: none;
  margin: 0 1rem;
  cursor: pointer;
}

footer .nav_list button {
  background: transparent;
  padding: 0.5rem 1.5rem;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 300ms;
}

footer .nav_list button:hover {
  background: #000;
  color: #fff;
}

footer .flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 0;
}

footer .footer_links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    place-items: center;
}

footer .footer_links h2 {
    font-size: 1rem;
    font-weight: 400;
}

footer .footer_links ul li {
    list-style: none;
}

footer .copyright {
    background: #000;
    padding: 2rem;
    color: #fff;
    margin-top: 4rem;
}

footer .copyright h2 {
    font-size: 1rem;
    font-weight: 400;
}