@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
}

button,
input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-primary {
  display: inline-block;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 0 4rem;
  background: #fff;
  /*   box-shadow: 0px 12px 60px 0px rgba(0, 0, 0, 0.25); */
  border-bottom: 1px solid #333;
}

.nav h1 {
  z-index: 3;
}

.nav_list {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav ul {
  display: flex;
}

.nav ul li {
  list-style: none;
  margin: 0 1rem;
  cursor: pointer;
}

.nav_list button {
  background: transparent;
  padding: 0.5rem 1.5rem;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 300ms;
}

.nav_list button a {
  color: #000;
  text-decoration: none;
}

.nav_list button a:hover {
  color: #fff;
}

.nav_list button:hover {
  background: #000;
  color: #fff;
}

.burger {
  width: 50px;
  height: 50px;
  z-index: 2;
  display: none;
}

.burger img {
  width: 100%;
}

.hero {
  width: 95%;
  margin: 0 auto;
  margin-top: 2rem;
  border: 1px solid #333;
}

.hero_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.hero_img img {
  width: 100%;
}

.hero_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.hero_text h1 {
  color: #fff;
  font-size: 4rem;
  text-align: center;
}

.hero_text button,
.btn-primary {
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 300ms;
}

.hero_text button a {
  color: #fff;
  text-decoration: none;
}

.hero_text button:hover {
  transform: scale(1.1);
}

.about_us {
  margin-top: 8vh;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.about_us .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about_us_img {
  width: 100%;
}

.about_us_img img {
  width: 100%;
  border: 1px solid #333;
}

.about_us_text {
  display: grid;
  flex-direction: column;
  gap: 1.5rem;
  grid-template-rows: 1fr auto 1fr;
  height: 100%;
  border: 1px solid #333;
  border-left: none;
}

.about_us_text .top {
  border-bottom: 1px solid #333;
}

.about_us_text .middle {
  padding: 1.5rem;
}

.about_us_text .bottom {
  border-top: 1px solid #333;
}

.about_us_text h1 {
  font: bold;
  text-align: center;
  font-size: 2.5rem;
}

.about_us_text p {
  line-height: 1.5;
  font-size: 1rem;
}

.category {
  margin-top: 8vh;
}

.category .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.category h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2rem;
}

.category .card {
  border: 1px solid #333;
}

.category .card .card_img {
  width: 100%;
  position: relative;
}

.category .card img {
  width: 100%;
  position: relative;
}

.category .card .card_text {
  position: absolute;
  bottom: 0;
  padding: 1rem 0.5rem;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.3);
  /* 70% opacity */
  background-color: #fff;
  border-top: 1px solid #333;
}

.category .card .card_text h2 {
  font-size: 1.5rem;
}

.trending {
  background: #fff;
  /*  box-shadow: 0px 12px 60px 0px rgba(0, 0, 0, 0.25); */
  margin-top: 8vh;
  padding: 3rem 0;
  border: 1px solid #333;
}

.trending h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2rem;
}

.trending .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  gap: 3rem;
}

.trending .trending_card {
  border: 1px solid #333;
}

.trending .trending_card .trending_card_img {
  width: 100%;
  position: relative;
}

.trending .trending_card img {
  width: 100%;
  position: relative;
}

.trending .trending_card .card_text {
  position: absolute;
  bottom: 0;
  padding: 1rem 0.5rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.trending .trending_card .card_text button {
  margin-top: 1rem;
  align-self: flex-end;
  border: 0;
  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  cursor: pointer;
  transition: all 300ms linear;
}

.trending .trending_card .card_text button:hover {
  background-color: transparent;
  color: #000;
}

.contact {
  margin-top: 10vh;
  background: #fff;
  /*  box-shadow: 2px 10px 28px 0px rgba(75, 0, 129, 0.12); */
  padding-bottom: 3rem;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.contact h1 {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 2rem;
}

.contact .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 3rem;
}

.contact .form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

.contact .form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.contact .form form input,
textarea {
  outline: 0;
  padding: 0.5rem;
  border: 1px solid #e6e6e6;
}

.contact .form button {
  background-color: #000;
  color: #fff;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 0;
  cursor: pointer;
}

.contact .info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact .info h2 {
  font-size: 1rem;
  font-weight: 400;
}

.contact .info .info_text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact .info .map {
  width: 100%;
}

.contact .info .map img {
  width: 100%;
}

footer {
  margin-top: 10vh;
  background: #fff;
  box-shadow: 0px 12px 60px 0px rgba(0, 0, 0, 0.25);
}

footer .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 0 4rem;
}

.footer_nav_links {
  display: flex;
  gap: 3rem;
  align-items: center;
}

footer .nav ul {
  display: flex;
}

footer .nav ul li {
  list-style: none;
  margin: 0 1rem;
  cursor: pointer;
}

.footer_nav_links button {
  background: transparent;
  padding: 0.5rem 1.5rem;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 300ms;
}

footer .nav_list button:hover {
  background: #000;
  color: #fff;
}

footer .flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0;
}

footer .footer_links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  place-items: center;
}

footer .footer_links h2 {
  font-size: 1rem;
  font-weight: 400;
}

footer .footer_links ul li {
  list-style: none;
}

footer .copyright {
  background: #000;
  padding: 2rem;
  color: #fff;
  margin-top: 4rem;
}

footer .copyright h2 {
  font-size: 1rem;
  font-weight: 400;
}

.signup_bg {
  background-image: url("../img/signup-bg.png");
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 70%;
  margin: 0 auto;
  gap: 4rem;
}

.signup_text {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.signup_text h1 {
  font-size: 3rem;
}

.signup_text h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.signup_form {
  padding: 2rem;
  color: #000;
  background: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2.5rem 0;
}

.signup_form h2 {
  font-size: 1rem;
  font-weight: 300;
}

.signup_form h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.signup_form .form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signup_form .form input {
  padding: 0.5rem;
  outline: 0;
  border: 1px solid #333;
  border-radius: 0.3rem;
}

.signup_form .form .btn {
  background: #000;
  color: #fff;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 1px solid #000;
  margin-bottom: 1rem;
}

.signup_form .form button a {
  color: #fff;
  text-decoration: none;
}

.signup_form .line_text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup_form .line_text h4 {
  border-radius: 50%;
  padding: 0.3rem 0.4rem;
  background-color: #fff;
  position: absolute;
  font-size: 1rem;
  font-weight: 400;
}

.signup_form .signup_socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.signup_form .signup_socials .facebook,
.google,
.apple {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 0.5rem 2rem;
  border: 1px solid #e6e6e6;
  margin-top: 1rem;
  cursor: pointer;
}

.signup_form .signup_socials .facebook,
.google,
.apple p {
  text-align: center;
}

.signup_form .account h3 {
  font-size: 0.8rem;
  margin-top: 1rem;
  font-weight: 400;
  text-align: center;
}

.signup_form .account span {
  font-weight: 600;
  cursor: pointer;
}

.login_form {
  max-width: 70%;
  margin: 0 auto;
}

.login_bg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_google,
.login_facebook,
.login_apple {
  gap: 2rem !important;
}

.feed_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  border-bottom: 1px solid #333;
  position: fixed;
  width: 100%;
  background-color: #000;
}

.feed_nav .feed_profile {
  width: 50px;
}

.feed_nav .feed_profile img {
  width: 100%;
}

.feed_logout button {
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  background: #fff;
  cursor: pointer;
}

.feed_logout a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.feed {
  display: flex;
  padding-top: 9vh;
}

.left_side {
  background-color: #000;
  color: #fff;
  height: 100vh;
  position: fixed;
  padding-top: 1rem;
}

.left_side .links {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  gap: 1rem;
  min-height: 100vh;
  margin-top: 1rem;
}

.left_side h1 {
  padding: 0 2.5rem;
}

.left_side .links li {
  list-style: none;
  cursor: pointer;
}

.main_feed {
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  margin-left: 250px;
}

.main_feed .main_feed_card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.main_feed_card .card_head,
.card_contents,
.card_stats {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main_feed .main_feed_card .card_head img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.main_feed .main_feed_card .card_head h1 {
  font-size: 1rem;
  cursor: pointer;
}

.card_stats .comment,
.repost,
.like,
.share {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card_stats img {
  cursor: pointer;
}

.right_side {
  padding: 9vh 1rem;
}

.right_side .search input {
  padding: 0.5rem 1.5rem;
  outline: 0;
}

/* -------- Profile Page ------- */
.feed.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.feed.profile .left_side {
  position: static;
  background: #fff;
  color: #000;
}

.profile > div {
  padding: 1rem 2rem;
}

.profile .about h2 {
  margin-bottom: 1rem;
}

.profile .about {
  background: #000;
  padding: 2rem;
  min-height: 85vh;
  color: #fff;
  line-height: 1.5;
}

.profile .about p {
  margin-bottom: 1rem;
}

.grid-lines {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0.2) 26%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 0, 0.2) 75%,
      rgba(0, 0, 0, 0.2) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(0, 0, 0, 0.2) 25%,
      rgba(0, 0, 0, 0.2) 26%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 0, 0.2) 75%,
      rgba(0, 0, 0, 0.2) 76%,
      transparent 77%,
      transparent
    );
  background-size: 50px 50px;
  border-style: none;
}

/* ------ Post details --------------- */
.post_details_card {
  border: 1px solid #000;
  padding: 3rem;
  width: 100%;
}

.post_details_card .img-thumbnail {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
}

.post_details_card .btn_container {
  margin-top: 1rem;
}

/* ----- Post edit ---- */
.post_edit_card {
  padding-top: 5rem;
}
.post_edit_card form,
.addpost form {
  border: 1px solid #000;
  padding: 3rem;
  width: 80%;
  margin: 1rem;
  display: block;
}

.addpost form {
  width: 100%;
  margin-left: 0;
}

.post_edit_card form input,
.addpost form input,
.addpost form textarea,
.post_edit_card form textarea {
  display: block;
  width: 100%;
  padding: 0.6rem;
  margin: 1rem 0;
  border: 1px solid #000;
}

.img-thumbnail {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.img-thumbnail img {
  width: 100%;
}

/* Responsiveness */
@media (max-width: 1200px) {
  .signup_grid {
    width: 90%;
  }
}

@media (max-width: 1050px) {
  .trending .trending_card .card_text {
    font-size: 0.6rem;
  }

  .trending .trending_card .card_text button {
    padding: 0.3rem 0.5rem;
    font-size: 0.5rem;
  }

  footer .footer_links {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  .category .card .card_text h2 {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .hero_text h1 {
    font-size: 2rem;
  }

  .hero_text button {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
  }

  .about_us_text h1,
  .category h1,
  .trending h1,
  .contact h1 {
    font-size: 1.5rem;
  }

  .about_us_text p {
    font-size: 0.7rem;
    margin-top: 0.5rem;
  }

  .signup_grid {
    gap: 1rem;
  }

  .signup_form .signup_socials .facebook, .google, .apple {
    gap: 2rem;
  }
}

@media (max-width: 850px) {
  .nav_list {
    position: fixed;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    transition: 300ms linear;
    z-index: 2;
  }

  .burger {
    display: flex;
  }

  .active {
    transform: translateX(0);
    align-items: center;
    justify-content: center;
  }

  .active ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .category .grid, .trending .grid {
    gap: 1.5rem;
  }

  .category .card .card_text h2 {
    font-size: 0.7rem;
  }

  .trending .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_nav_links {
    display: none;
  }

  .signup_grid {
    grid-template-columns: 1fr;
    padding: 4rem;
  }
}

@media (max-width: 650px) {
  .about_us .grid {
    grid-template-columns: 1fr;
  }

  .about_us_text {
    order: -1;
    margin-bottom: 2rem;
    border: 1px solid #000;
  }

  .category .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .form h2 {
    font-size: 1rem;
  }

  .contact .grid {
    grid-template-columns: 1fr;
  }

  footer .flex {
    padding: 2rem 0;
  }

  footer .footer_links {
    grid-template-columns: 1fr;
    place-items: flex-start;
  }

  .signup_grid {
    grid-template-columns: 1fr;
    padding: 4rem 0rem;
  }
}

@media (max-width: 450px) {
  .nav {
    padding: 0 2rem;
  }

  .hero_text h1 {
    font-size: 1rem;
  }

  .hero_text {
    gap: 1.5rem;
  }

  .hero_text button {
    font-size: .5rem;
    padding: .3rem .7rem;
  }

  .about_us, .category, .trending, .contact, footer {
    margin-top: 4vh;
  }

  .about_us_text h1,
  .category h1,
  .trending h1,
  .contact h1 {
    font-size: 1.3rem;
  }

  .trending .grid {
    grid-template-columns: 1fr;
  }

  .contact .info .info_text {
    gap: 1rem;
  }

  .contact .info h2 {
    font-size: .7rem;
  }

  .signup_form h1 {
    font-size: 1.5rem;
  }
  
  .signup_form h2 {
    font-size: .8rem;
  }

  .login_form {
    max-width: 95%;
  }
}

@media (max-width: 350px) {
  .signup_form {
    padding: 2rem 1rem;
  }

  .signup_form .signup_socials .facebook, .google, .apple {
    gap: 1rem;
  }

  .signup_form .signup_socials .facebook p, .google p, .apple p {
    font-size: .7rem;
  }
}